@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
    @apply text-[16px] text-ds-blue;
}

div,
span,
p,
em,
strong {
    @apply text-base;
}

@screen lg {
    footer .footer-layout {
        @apply grid grid-cols-[2fr_3fr_2fr];
        grid-template-areas: "contact brand utilities";
        .footer-layout--contact {
            grid-area: contact;
        }
        .footer-layout--brand {
            grid-area: brand;
        }
        .footer-layout--utilities {
            grid-area: utilities;
        }
    }
}

@layer components {
    .btn {
        @apply flex justify-center items-center gap-[10px] px-5 lg:px-10 py-4 lg:py-7 rounded-2xl min-w-[160px] lg:min-w-[240px] w-max;

        span {
            @apply text-base font-bold lg:text-btn text-ds-blue;
        }

        div {
            @apply flex justify-center items-center rounded-full bg-ds-blue w-5 h-5;
        }

        &.btn--primary {
            @apply bg-ds-blue;

            span {
                @apply text-white;
            }
        }

        &.btn--secondary {
            @apply bg-ds-yellow;
        }

        &.btn--outlined {
            @apply bg-ds-white border border-ds-blue;
        }
    }
}
